ul{
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
    font-size:20px;
    background-color:lightblue;
    
}
li{
 float:left;
 border-right:2px solid appworkspace;
}
li:last-child{
   border-right:none;
}
li a{
   display:block;
   color:darkblue;
   text-align:center;
   padding:25px 72px;
   text-decoration:none;
}
li a:hover:not(.active){
    background-color:whitesmoke;
}
.active{
    background-color:#000;
}

